[submodule "courses/cs131-stanford"]
	path = courses/cs131-stanford
	url = git@github.com:shivgarg/cs131-stanford.git
[submodule "courses/cs231n-stanford"]
	path = courses/cs231n-stanford
	url = git@github.com:shivgarg/cs231n-stanford.git
